@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-1: #6B968B;
$color-2: #C4DEED;
$color-3: #B28B67;
$color-4: #EFF0F0;
$orange: #ED9F54;
$gray-1: #4F4F4F;
$gray-2: #BDBDBD;
$bg-color: linear-gradient(121.67deg, rgba(196, 222, 237, 0.18) 1.3%, rgba(255, 255, 255, 0) 94.16%), #F9F9F9;

body {
  font-family: 'Poppins', sans-serif;
  background: $bg-color;
}

button.btn-orange {
  background: $orange;
  color: white;

  &:hover {
    opacity: .9;
    color: white;
  }

  &:active {
    opacity: .5;
  }
}

.bg-gray {
  background: $color-4;
}

.my-brand {
  color: $color-1 !important;
}

/*
Cost details
 */
#cost-origin, #cost-destination, #cost-weight {
  font-weight: 200;
}

#cost-destination {
  border-left: 1.5px solid $gray-2;
  border-right: 1.5px solid $gray-2;

  @media (max-width: 768px) {
    border-left: 0px;
    border-right: 0px;
  }
}

#cost-weight {
  span {
    color: $orange;
  }
}

/*
Result
 */
.result-style {
  h3 {
    color: $gray-1;
  }

  h4 {
    color: $gray-1;
  }

  table {
    color: $gray-1;

    thead {
      background: $gray-1;
      color: white;
      border: 1px solid $color-1;
    }

    tbody {
      background: white;
      font-weight: 200;

      td {
        border: 1px solid $gray-2;
      }
    }
  }
}